html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: "Calibri Light" !important;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
input {
  text-align: right;
}


a {
  color: inherit;
  text-decoration: none;
}

.css-1gsv261 {
  border-bottom: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.poster {
  width: 100%;
  height: 100%;
}

.overview {
  font-size: 17px;
  line-height: 20px;
}