html,
body {
  padding: 0;
  margin: 0;
  font-family: "Calibri Light" !important;
}

* {
  box-sizing: border-box;
  font-family: "Calibri Light" !important;
}

input {
  text-align: right;
}


a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
